services:
  - type: web
    name: n8n-linhares
    runtime: image
    plan: free
    region: oregon

    image:
      url: docker.io/n8nio/n8n:latest

    dockerCommand: n8n

    envVars:
      # Obrigatório para o n8n usar Postgres
      - key: DB_TYPE
        value: postgresdb

      # Puxa dados do Postgres criado no Render (nome precisa bater com o database abaixo)
      - key: DB_POSTGRESDB_HOST
        fromDatabase:
          name: n8n-db
          property: host
      - key: DB_POSTGRESDB_PORT
        fromDatabase:
          name: n8n-db
          property: port
      - key: DB_POSTGRESDB_DATABASE
        fromDatabase:
          name: n8n-db
          property: database
      - key: DB_POSTGRESDB_USER
        fromDatabase:
          name: n8n-db
          property: user
      - key: DB_POSTGRESDB_PASSWORD
        fromDatabase:
          name: n8n-db
          property: password

      # n8n básicos (você pode ajustar depois no painel)
      - key: N8N_PROTOCOL
        value: https
      - key: GENERIC_TIMEZONE
        value: America/Sao_Paulo

      # Chave de criptografia (recomendado ser Secret no painel; aqui vai só pra destravar)
      - key: N8N_ENCRYPTION_KEY
        value: BiancaLinhares_ChaveSegura_2025

databases:
  - name: n8n-db
    plan: free
    region: oregon
    postgresMajorVersion: "18"
